%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'


%hr

.col-md-12
  = form_for [@movie, @comment], html: { class: 'form-horizontal', role: 'form' } do |f|
    - if @comment.errors.any?
      .panel.panel-danger.col-md-offset-1
        .panel-heading
          %h2.panel-title
            = pluralize(@comment.errors.count, 'error')
            prohibited this comment from being saved:
          .panel-body
            %ul
              - @comment.errors.full_messages do |msg|
                %li= msg

    .form-group
      .control-label.col-md-2
        = f.label :content, 'New Comment'
      .col-md-2
        = f.text_area :content, rows: 10, class: 'form-control', placeholder: 'Put your comment here'

    .form-group
      .col-md-offset-2.col-md-10
        = f.submit 'Add Comment', class: 'btn btn-primary btn-lg pull-right'